<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DreamConnect</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="wrapper">
        <nav class="sidebar">
            <ul>
                <li><a href="{{ url_for('profiles') }}">Главная</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('dashboard') }}">Мой профиль</a></li>
                    <li><a href="{{ url_for('add_dream') }}">Добавить сон</a></li>
                    <li><a href="{{ url_for('dreams') }}">Схожие сны</a></li>
                    <li><a href="{{ url_for('logout') }}">Выйти</a></li>
                {% else %}
                    <li><a href="{{ url_for('login_or_register') }}">Войти</a></li>
                {% endif %}
            </ul>
        </nav>
        
        <main class="content-area">
            {% block content %}{% endblock %}
        </main>
    </div>
</body>
</html>
